.footer {
    height: 100%;
    background: #221e41;
    color: white;
    border-top-left-radius: 100px;
    padding-bottom: 1em;
    font-family: 'Merriweather', sans-serif;
    overflow-x: hidden;
}

.textWrapper {
    display: flex;
    padding: 2em 6em 2em;
    justify-content: space-around;
    align-items: flex-end;
    position: relative;
}

.header {
    font-family: 'MerriweatherUltraBold', 'Merriweather', sans-serif;
    font-size: 3em;
    margin-bottom: 60px;
    line-height: 1.3em;
}

.subheader {
    font-size: 1em;
}

.copyright {
    display: block;
    margin: 0.5em 0 0.5em 5em;
}

.squareIcon {
    height: 51px;
    position: absolute;
    background: url('../../../static/icons/pinkSquares.svg') no-repeat;
    width: 65px;
}

@media (max-width: 1080px) {
    .textWrapper {
        padding: 2em 0;
    }
}

@media (max-width: 900px) {
    .textWrapper {
        padding: 2em;
    }

    .squareIcon {
        display: none;
    }
}

@media (max-width: 600px) {
    .textWrapper {
        flex-direction: column;
        align-items: center;
        padding: 0;
        margin-bottom: 2em;
    }

    .header {
        margin-bottom: 30px;
        font-size: 2.5em;
    }

    .headerWrapper {
        margin-bottom: 30px;
        text-align: center;
    }

    .copyright {
        margin: 30px 0 0 0;
        text-align: center;
    }
}

@media (max-width: 460px) {
    .header {
        font-size: 2em;
    }
}

@media (min-width: 320px) {
    .headerWrapper {
        font-size: 14px;
    }
}
