.wrapper {
    display: flex;
    justify-content: center;
}

.icons {
    height: 30px;
    width: 30px;
    margin: 0 10px;
    position: relative;
}

.liquidIcon {
    height: 30px;
    width: 70px;
    margin: 0 10px;
    position: relative;
}

.iconTooltip {
    display: none;
}
