.projectContainer {
    display: flex;
    font-family: 'Merriweather', sans-serif;
    background: white;
    margin-bottom: 5em;
    justify-content: space-between;
}

.projectContainer:last-child {
    margin-bottom: 0;
}

.projectText {
    max-width: 450px;
    position: relative;
}

.projectImage {
    border-radius: 50px;
    height: 350px;
    width: 500px;
}

.projectType {
    margin: 0;
    letter-spacing: 3px;
}

.projectName {
    margin: 0.5em 0 1em;
    font-size: 2em;
    font-weight: 900;
}

.projectDescription {
    line-height: 2em;
    position: relative;
}

.GitHubRepoLink {
    position: absolute;
    right: 15px;
    top: 15px;
}

.GitHubRepo {
    filter: brightness(0) saturate(100%);
    font-size: 0.5em;
    max-width: 35px;
}

.imageWrapper {
    position: relative;
}

@media (max-width: 1080px) {
    .projectText {
        margin-left: 2em;
    }
}

@media (max-width: 900px) {
    .projectContainer {
        flex-direction: column;
        width: 500px;
        margin: 0 auto 3em;
    }

    .projectImage {
        order: -1;
        width: 100%;
    }

    .projectText {
        order: 1;
        width: 100%;
        max-width: none;
        margin: 2em 0 0 0;
    }

    .projectName,
    .projectType {
        text-align: center;
    }

    .projectType {
        display: block;
    }
}

@media (max-width: 500px) {
    .projectContainer {
        width: 350px;
        margin: 0 auto 2em;
    }

    .projectName {
        margin: 0.5em 1em;
    }

    .projectText {
        margin: 1em 0 0 0;
    }

    .projectDescription {
        text-align: center;
    }
}

@media (min-width: 320px) and (max-width: 500px) {
    .projectContainer {
        width: 300px;
    }

    .projectImage {
        height: 225px;
    }
}
