.sectionContainer {
    padding-right: 4.5em;
}

.contentContainer {
    background: #F6F9FF;
    padding: 2em 0 2em 5em;
    height: calc(100vh - 4em);
    border-bottom-right-radius: 200px;
}

.infoContainer {
    display: flex;
    flex-direction: column;
    font-family: "Merriweather";
    color: #221E41;
}

.nameHeader {
    font-size: 6em;
    margin-bottom: 0;
}

.subHeader {
    font-weight: 700;
}

.description {
    font-style: italic;
    color: #757384;
    width: 40%;
    line-height: 2em;
    font-size: 1.1em;
}