.form {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

.formHeader {
    text-align: center;
    margin: 0;
    color: #2626BC;
    font-family: "Merriweather", sans-serif;
}

.emailIcon {
    height: 100px;
}

.headerWrapper {
    display: flex;
    flex-direction: column;
}

.sendEmailBtn {
    height: 45px;
    border-radius: 10px;
    background-color: #FF5BA8;
    color: white;
    cursor: pointer;
    border: none;
}

.sendEmailBtn:focus {
    border: 2px solid #2626BC;
}

.label {
    display: flex;
    flex-direction: column;
    font-size: 0.85em;
    color: #2626BC;
}

.input:focus, .message:focus {
    border: 2px solid #2626BC;
}

.input {
    margin-top: 5px;
    height: 25px;
    border-radius: 4px;
    border: 2px solid #6583fe;
    padding: 5px 10px;
    background: transparent;
}

.legend {
    color: #2626BC;
    font-weight: 900;
    padding: 10px 15px;
}

.message {
    margin-top: 5px;
    resize: none;
    height: 100px;
    border-radius: 4px;
    background: transparent;
    border: 2px solid #6583fe;
}

.contactFieldSet {
    flex: 1;
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 10px;
    border: 2px solid #8399FE;
    padding: 5px 1em;
}

@font-face {
    font-family: "MerriweatherUltraBold";
    src: url('../../static/fonts/Merriweather-Black.ttf');
}