.line {
    flex: 1 1 auto;
    margin: 0 0 0 -5em;
}

.iconsContainer {
    flex: 0 1 25%;
    display: flex;
    justify-content: center;
}

.siteIconsContainer {
    display: flex;
    justify-content: space-between;
    align-items:center;
}

.icon { 
    max-width: 40px;
    margin: 0 15px;
}

@media (max-width: 600px) {
    .line {
        display: none;
    }

    .siteIconsContainer {
        justify-content: center;
        margin: 0 !important;
    }
}

@media (min-width: 320px) {
    .icon {
        max-width: 35px;
    }
}